.administration-page {
  height: 100%;
  overflow: auto;

  .administration-separator {
    border: 1px solid grey;
    margin: 20px;
  }

  .location-management {
  }

  .category-management {
  }
}
