.home {
  height: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  .action-toolbar {
    display: flex;
    align-items: center;
    height: 40px;
    margin: 0 10px;

    .current-products-filter {
      flex: 1;
    }
  }

  .product-list-container {
    height: 100%;
  }

  .app-footer {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid teal;
    color: teal;
    flex-shrink: 0;
  }
}
