.category-list {
  margin: 0 10%;
  display: flex;
  flex-wrap: wrap;

  .category-item-container {
    margin-right: 10px;
    margin-bottom: 5px;
  }

  .update-button {
    display: flex;
    justify-content: flex-end;
  }
}
