.add-location-form {
  display: flex;
  margin: 0 10%;
  margin-bottom: 25px;

  .location-form {
    width: 100%;

    .location-input-text {
      width: 100%;
    }
  }

  .add-location-button {
    flex-shrink: 0;
    margin-left: 10px;
  }
}
