.location-item {
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 4px;
  margin-bottom: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5px;

  .location-label {
    flex: 1;
  }

  .update-location-item-button-icon {
    display: none;
  }

  @media screen and (max-width: 480px) {
    .update-location-item-button-text {
      display: none;
    }

    .update-location-item-button-icon {
      display: block;
    }
  }
}
